        * {
            margin: 0;
            padding: 0;
        }

        nav {
            background-color: #002b9c;
            height: 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 50px;
        }

        nav ul {
            list-style: none;
            display: flex;
            gap: 60px;
        }

        nav ul li a {
            text-decoration: none;
            color: white;
            font-size: 25px;
        }

        .search input {
            padding: 7px 10px;
            font-size: 16px;
            border: 2px solid rgb(228, 67, 23);
            border-radius: 5px;
            outline: none;
        }

        .search input:hover {
            /* border-color: rgb(255, 141, 47); */
        }

        .search button {
            padding: 8px 15px;
            background-color: rgb(228, 67, 23);
            color: white;
            border: none;
            font-size: 16px;
            cursor: pointer;
            border-radius: 5px;
            margin-left: 5px;
        }

        .search button:hover {
            opacity: 0.8;
        }

        .practice {
            height: 400px;
            width: 400px;
            background-color: rgb(255, 141, 47);
            border-radius: 50%;
            margin: 100px auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }